<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jaime.projectfish" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shark Attack</name>
    <description>
    </description>
    <author>
       Jaime Aughney
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="orientation" value="landscape" />
    <icon src="/icon180.png" />
    <plugin name="cordova-plugin-compat" spec="^1.2.0" />
    <plugin name="cordova-plugin-admob-simple" spec="^3.3.4" />
    <plugin name="cordova-plugin-nativeaudio" spec="^3.0.9" />
    <plugin name="cordova-plugin-media" spec="^5.0.2">
        <variable name="KEEP_AVAUDIOSESSION_ALWAYS_ACTIVE" value="NO" />
    </plugin>
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-admob" spec="^4.1.16" />
    <plugin name="cordova-admob-sdklibs" spec="^2.1.6" />
    <engine name="android" spec="^6.3.0" />
    <engine name="ios" spec="^4.5.4" />
</widget>
